<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FilmFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FilmFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FilmFlow.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="userSessionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentUser" serializeAs="String">
                <value />
            </setting>
        </FilmFlow.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FilmFlow.Properties.Settings>
            <setting name="appSessionKey" serializeAs="String">
                <value>6qeXfz;9~GS}.v9A^tw:Z^Y)r;b&amp;5c&gt;;F04N2_tSlbEV)![S2UB8"l,,)KXb3g9</value>
            </setting>
            <setting name="localDbServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="localDbUser" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="localDbPassword" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="localDbBase" serializeAs="String">
                <value>FilmFlow</value>
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value>smtp.yandex.ru</value>
            </setting>
            <setting name="smtpUser" serializeAs="String">
                <value>Regis.youtube@yandex.ru</value>
            </setting>
            <setting name="smtpPassword" serializeAs="String">
                <value>kjmtpynsqztvrgsh</value>
            </setting>
            <setting name="smtpMailFrom" serializeAs="String">
                <value>Regis.youtube@yandex.ru</value>
            </setting>
        </FilmFlow.Properties.Settings>
    </applicationSettings>
</configuration>